<div class="media">
    <div class="media--image">
        <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </span>
          
    </div>
    <div class="media--body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, eaque. Perspiciatis tempora placeat aspernatur dignissimos consequatur quam, voluptates accusamus sed, perferendis veniam, commodi similique quibusdam eius at maxime vel doloribus molestias saepe itaque accusantium animi nemo dolor! Soluta temporibus facere dicta, nostrum, quia eos ullam culpa maxime doloribus excepturi natus?</p>
    </div>
</div>