<p class="quote__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid quasi labore vero
    cum iste cupiditate necessitatibus sed magni, fugit repellat ut magnam nisi enim doloribus dolor aliquam,
    consequatur nihil quisquam dolore? Recusandae numquam repellat ea labore, illo natus ipsam deleniti dolore
    veritatis minima, facere asperiores modi, quae optio! Ab, ullam?
</p>

<div class="media">
    <div class="media--image">

        <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
        </svg>


    </div>
    <div class="media--body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quotes quotes__organization">McAfee</p>
    </div>
</div>
</blockquote>