:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3500;
  --color-headings: #1b0760;
  --color-body: #9186a4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

.learn-more {
  text-decoration: none;
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.learn-more::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}

.learn-more:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .learn-more {
    font-size: 2rem;
  }
}

/*Badges*/

.badge {
  border-radius: 20px;
  border: 0;
  color: white;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.badge--primary {
  background-color: var(--color-primary);
}

.badge--secondary {
  background-color: var(--color-secondary);
}

/*Lists*/

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("../Images/tick.svg");
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*Buttons*/

.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

/* .btn--containerwidth {
  width: 100%;
} */

.btn--contentwidth {
  font-size: 1.5rem;
  padding: 2rem 5rem;
}

.btn--outline {
  background: none;
  border: 3px solid var(--color-headings);
  color: var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: white;
  transition: background 0.2s;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}

.btn--secondary {
  background: var(--color-secondary);
  color: white;
}

.btn--accent {
  background: var(--color-accent);
  color: white;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
